/* ######### Defaults ########### */

nav, header, footer{
    display: block;
}

body{
    line-height: 1;
    margin:0;
}

label{
    font-size: 35px;
    font-weight:600;
}

p{
    font-size: 28px;
    line-height: 1.2;
}

.container{
    width:100%;
    margin:auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content:"";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}



/* ########### Navbar ############# */

nav {
    width: 100%;
    margin:0;
}

nav ul{
    overflow:hidden;
    margin:0;
    padding:0;
}

ul.topnav li{
    list-style: none;
    float:left;

}

ul.topnav li.topnav-right{
    float:right;

}

ul.topnav li a{
    display:block;
    text-decoration:none;
    min-height:16px;
    text-align:center;
    padding:14px;
    text-transform:uppercase;
    color:white;
}

ul.topnav{
    background-image: url("stars1.jpg");
    opacity: 0.9;
}

ul.topnav li a:hover{
    background-image: url("flower.jfif");
    color:white;
}

ul.topnav li.dropdown{
    display: none;
}


/* ############## Custom styles############## */

#section1{
    background: url("stars2.jpg")

}

div.box{
    text-align: center;
    margin: 24px;
    padding:36px 24px 40px 24px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);

}

div.neo img{
    display:block;
    margin: auto;
    box-shadow: -2px/*H*/ -2px/*V*/ 5px/*B*/ 2px; /*Spread*/ rgba(0, 0, 0, 1 );
}



button{
    font-size: 32px;
    font-weight: 700;
    color:white;
    background-image: url(starr.jpg);
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin:5px;
    border-radius: 7px;
}

button.learnmore{
    margin: auto;
}

.icon img{
    border-radius: 50%;
}

h1.large{
    color:white;
    margin:0;
    line-height: 100px;
}


.leftside{
    margin-left: 10%;
}

.rightside{
    margin-left:20%;
}

h1.large{
  /* background-image: url(starr.jpg); */
  color:white;
  opacity: 0.9;
  /* -webkit-background-clip: text; */
  font-size: 80px;
  text-shadow: 3px 2px 2px blue;
}

h1.section2{
    font-size: 50px;
    text-align: center;
}

.rightside iframe{
    border:10px solid blue;
}
article p{
    font-size: 35px;
    padding:20px;
    color: white;
    text-shadow: 2px 2px black;
    
}
 article .p1{
    text-align: center;
 }

#section3{
    background-image: url(stars1.jpg);
    opacity: 1;
}

.bottom{
    background-image: url(stars3.jpg);
    padding-left: 10%;
    opacity: 0.9;
}

.bottom h1{
    color:#fff;
    font-size: 35px;
}

.bottom ul{
    list-style: none;
    text-align: left;
    padding-left:0;
}

.bottom ul li{
    line-height: 1.5;
    color: #fff;
    font-size: 22px;
}

/* ########## Mobile ########### */
@media screen and (max-width:680px){
    ul.topnav li:not(:nth-child(1)) {
        display:none;
    }

    ul.topnav li.dropdown{
        display:block;
        float:right;
    }

    ul.topnav.responsive li.dropdown{
        position: absolute;
        top:0;
        right:0;
    }
    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive li{
        display: inline;
        float:none;
    }

    ul.topnav.responsive li a{
        display:block;
        text-align: left;
    }

    .col-6, .col-4, .col-7, .col-5{
        width:100%;
        margin:0;
    }

    div.mobile{
        width:50%;
        display: block;
    }

    article p{
        font-size: 25px;
    }

    .neo{
        margin:10px;
    }

    .neo img{
        width: 100%;
    }

    div.box{
        padding:5px;
        display:block;
    }

    div.rightside, div.leftside{
        margin:15px;
    }

    .video, iframe{
        position:relative;
        width:100%;
        margin:0;
        overflow: hidden;
    }
}